<a href="https://colab.research.google.com/github/rafaeldeflon/Exploratory_Data_Analysis/blob/main/PySpark_Intro_Study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PySpark Dataframes
For each instruction, type the appropriate code into the cell below the instruction. Then, run the code by pressing the Run button above.

1. Import the SparkSession class:

from pyspark.sql import SparkSession

In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=b3a159f33ebcf9133c021347fcbc0e574d2bab0134edb1f2eb7757d320f3cbdd
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [3]:
from pyspark.sql import SparkSession

2. Use this class to instiate a Spark session:
    
    spark = SparkSession \
    .builder \
    .appName("My First PySpark App") \
    .getOrCreate()

In [6]:
spark = SparkSession \
  .builder \
  .appName("My First PySpark App") \
  .getOrCreate()


3. Take a look at the session object:

spark

In [7]:
spark

4.Read the contents of a csv file into a Dataframe named 'accounts':

accounts = spark.read.option('header', 'true').csv('./data/accounts.csv')

In [11]:
!ls sample_data/

anscombe.json		     california_housing_train.csv  mnist_train_small.csv
california_housing_test.csv  mnist_test.csv		   README.md

In [12]:
california_housing = spark.read.option('header', 'true').csv('./sample_data/california_housing_test.csv')

5. Take a look at the Dataframe's schema:

accounts.printSchema()

In [13]:
california_housing.printSchema()

root
 |-- longitude: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- housing_median_age: string (nullable = true)
 |-- total_rooms: string (nullable = true)
 |-- total_bedrooms: string (nullable = true)
 |-- population: string (nullable = true)
 |-- households: string (nullable = true)
 |-- median_income: string (nullable = true)
 |-- median_house_value: string (nullable = true)

6. Read the contents of a parquet file into a variable:

transactions = spark.read.option('header', True).parquet('./data/transactions.parquet')

In [14]:
california_housing_train = spark.read.option('header', True).parquet('./sample_data/california_housing_train.parquet')

7. See how many rows are in the new Dataframe:

transactions.count()

In [15]:
california_housing_train.count()

17000

In [16]:
# Sample of the Dataframe california_housing_train
california_housing_train.sample(0.1).show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|
|   -114.6|   34.83|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|
|  -115.48|   32.68|              15.0|     3414.0|         666.0|    2097.0|     622.0|       2.3319|           91200.0|
|  -115.49|   32.87|              19.0|      541.0|         104.0|     457.0|     106.0|       3.3583|          102800.0|
|   -115.5|   32.68|              18.0|     3631.0|         913.0|    3565.0|     924.0|       1.5931|           88400.0|
|  -115.53|   34.91|              12.0|      807.0|         199.0|     246.0|     102.0|       2.5391|           40000.0|
|  -115.53|   32.99|              25.0|     2578.0|         634.0|    2082.0|     565.0|       1.7159|           62200.0|
|  -115.55|   32.79|              23.0|     1004.0|         221.0|     697.0|     201.0|       1.6351|           59600.0|
|  -115.56|   32.78|              46.0|     2511.0|         490.0|    1583.0|     469.0|       3.0603|           70800.0|
|  -115.56|   32.76|              15.0|     1278.0|         217.0|     653.0|     185.0|       4.4821|          140300.0|
|  -115.58|   33.88|              21.0|     1161.0|         282.0|     724.0|     186.0|       3.1827|           71700.0|
|  -115.58|   32.81|               5.0|      805.0|         143.0|     458.0|     143.0|        4.475|           96300.0|
|  -115.58|   32.78|               5.0|     2494.0|         414.0|    1416.0|     421.0|       5.7843|          110100.0|
|  -115.73|   33.09|              27.0|      452.0|         103.0|     258.0|      61.0|          2.9|           87500.0|
|  -116.01|   33.41|              20.0|     1996.0|         515.0|     659.0|     295.0|       2.8684|           62800.0|
|  -116.21|   33.72|              28.0|     2488.0|         714.0|    2891.0|     676.0|       2.3169|           68900.0|
|  -116.23|   33.71|              17.0|     4874.0|        1349.0|    5032.0|    1243.0|        2.444|           90000.0|
|  -116.24|   33.73|              14.0|     2774.0|         566.0|    1530.0|     505.0|       3.0682|          104100.0|
|  -116.32|   33.28|              19.0|     1791.0|         367.0|     327.0|     185.0|       3.3625|          100000.0|
|  -116.36|   33.88|              11.0|    12557.0|        3098.0|    2453.0|    1232.0|       1.7844|           78500.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [17]:
# Creating a new column classifying the rows on the Dataframe california_housing_train by the int part of the column 'latitude'

from pyspark.sql.functions import floor

california_housing_train = california_housing_train.withColumn('latitude_int', floor(california_housing_train['latitude']))

In [18]:
california_housing_train.sample(0.1).show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|latitude_int|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------+
|  -114.65|   34.89|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|          34|
|  -115.51|   33.12|              21.0|     1024.0|         218.0|     890.0|     232.0|        2.101|           46700.0|          33|
|  -115.52|   32.98|              32.0|     1615.0|         382.0|    1307.0|     345.0|       1.4583|           58600.0|          32|
|  -115.55|    32.8|              23.0|      666.0|         142.0|     580.0|     160.0|       2.1136|           61000.0|          32|
|  -115.55|   32.79|              23.0|     1004.0|         221.0|     697.0|     201.0|       1.6351|           59600.0|          32|
|  -115.57|   32.85|              17.0|     1039.0|         256.0|     728.0|     246.0|       1.7411|           63500.0|          32|
|  -115.58|   32.79|              14.0|     1687.0|         507.0|     762.0|     451.0|       1.6635|           64400.0|          32|
|  -116.01|   33.41|              20.0|     1996.0|         515.0|     659.0|     295.0|       2.8684|           62800.0|          33|
|  -116.15|   33.69|              22.0|      197.0|          54.0|     331.0|      70.0|       2.9286|          112500.0|          33|
|   -116.2|    33.7|              26.0|     2399.0|         625.0|    2654.0|     535.0|       2.2989|           60600.0|          33|
|  -116.33|   34.15|              13.0|     1808.0|         411.0|     735.0|     320.0|       1.5489|           57400.0|          34|
|  -116.38|    34.2|              14.0|     4985.0|        1238.0|    2517.0|     954.0|       2.0674|           65000.0|          34|
|  -116.38|   33.71|              17.0|    12509.0|        2460.0|    2737.0|    1423.0|       4.5556|          258100.0|          33|
|  -116.39|   33.72|              19.0|     7646.0|        1618.0|    2496.0|    1075.0|       3.5569|          128000.0|          33|
|  -116.42|   33.51|              26.0|      186.0|          48.0|     102.0|      39.0|       2.5625|          103100.0|          33|
|  -116.53|   33.85|              16.0|    10077.0|        2186.0|    3048.0|    1337.0|       2.9647|          110900.0|          33|
|  -116.55|   33.84|              28.0|     2992.0|         562.0|     676.0|     346.0|       5.7613|          500001.0|          33|
|  -116.62|   32.86|              18.0|     4115.0|         847.0|    2032.0|     745.0|       4.0159|          169100.0|          32|
|  -116.68|   33.71|              21.0|     3460.0|         711.0|     658.0|     255.0|       3.5882|          161100.0|          33|
|  -116.76|   34.29|              14.0|     3959.0|         849.0|    1064.0|     376.0|       2.8214|          111400.0|          34|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------+
only showing top 20 rows

8. Make a new Dataframe by grouping the transactions by account number and summing the groups. This will combine the transactions per account:

account_transactions = transactions.groupby('account_number').sum()

In [19]:
housing_latitude = california_housing_train.groupby('latitude_int').sum('median_income')

9. Combine the accounts with the summed transaction values:

with_sum = accounts.join(account_transactions, 'account_number', 'inner')

10. Get the current balance per account by summing the transaction sums with the initial account balance:

accounts = with_sum.withColumn('new_balance', sum([with_sum.balance, with_sum['sum(amount)']]))

11. Get accounts with negative current balances:

neg_balance = accounts.filter(accounts.new_balance < 0)

12. Read client data from a json file:

clients = spark.read.json('./data/clients.json')

13. Get the clients with a negative balance:

clients = clients.join(neg_balance, 'account_number', 'inner')

14. Look at the top five clients with negative balances:

clients.select(['first_name', 'last_name', 'account_number', 'new_balance']).show(5)